/**
 * Sass snippets.
 */

/* wrapper */
.sass-snippet-wrapper {
  position: relative;
}
/* visibility */
.sass-snippet-wrapper.scss-on .css-snippet,
.sass-snippet-wrapper.css-on .sass-snippet {
  display: none;
}
/* switcher */
.sass-snippet-switcher {
  position: absolute;
  top: 0;
  right: 0;
}
.sass-snippet-switcher .scss,
.sass-snippet-switcher .css {
  background: transparent;
  padding: .2em .4em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* on state */
.scss-on .sass-snippet-switcher .scss,
.css-on .sass-snippet-switcher .css {
  color: initial;
  cursor: default;
}
